@media screen and (max-width: 500px){
    header{
        flex-direction: column;
        text-align: center;
        margin: 0 auto;
    }
    main{
        flex-direction: column;
    }
    h2{
        font-size: 30px;
        text-align: center;
    }
    p{
        text-align: justify;
    }
    form{
        margin: 0 auto;
    }
    input{
        align-self: center;
    }
    img{
        display: none;
    }
    ul{
        text-align: center;
    }
}